<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/js/plug-in/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/public/public.css" />
    <link rel="stylesheet" href="/css/public/header.css" />
</head>
<body>
<header class="g-hd">
    <div class="m-mn">
        <a class="m-logo" href="javascript(0)">
            <img class="m-img" src="/images/public/logo.png" />
        </a>
        <div class="u-sch">
            <input class="u-ipt" type="text" />
            <button class="u-btn" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
</header>
<%- include('nav') %>