<%- include('head') %>
<link rel="stylesheet" href="/css/index/index.css"/>
<div class="g-bd">
    <div class="g-mn">
        <div class="g-banner" id="g-banner">
            <div class="prev g-btn-s">&laquo;</div>
            <div class="next g-btn-s">&raquo;</div>
            <ul class="g-br-jpg" id="g-br-jpg" >
                <li ><img src="/images/banner.jpg"/></li>
                <li><img src="/images/banner2.jpg"/></li>
                <li><img src="/images/banner3.jpg"/></li>
                <li><img src="/images/banner4.jpg"/></li>
                <li><img src="/images/banner5.jpg"/></li>
            </ul>
            <div class="g-br-btn">
                <ol class="g-br-btn-ol" id="g-br-btn-ol">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
        <div class="g-box">
            <div class="g-sl">
                <div class="g-box-tt">
                    <h2>学校简介</h2>
                </div>
                <div class="g-sl-img">
                    <a href="javascript:void(0);"><img src="/images/school.jpg" /></a>
                </div>
                <div class="g-text">
                   <p>
                       <a href="javascript:void(0)">学校简介学校简介学校简介学校简介学校简介学校简介学校简介学校简介学校简介学校简介
                       学校简介学校简介学校简介学校简介…</a>
                   </p>
                </div>
              <!--  <div class="more">
                    <div class="g-btn-d"> > </div>
                    <div><a href="javascript:void(0)"> more </a></div>
                </div>-->
            </div>
            <div class="g-bn">
                <div class="g-box-tt">
                    <h2>学生公告</h2>
                </div>
                <ul class="g-bn-ul">
                    <li class="g-bn-li"><a href="javascript:void(0);">&curren; 学校公告学校公告学校公告学校公告学校公告学校公告学校公告学校公告学校公告学校公告学校公告</a></li>
                    <li class="g-bn-li"><a href="javascript:void(0);">&curren; 学校公告学校公告学校公告学校公告学校公告学校公告</a></li>
                    <li class="g-bn-li"><a href="javascript:void(0);">&curren; 学校公告学校公告学校公告学校公告学校公告学校公告学校公告</a></li>
                </ul>
                <div class="more">
                    <div class="g-btn-d"> > </div>
                    <div><a href="javascript:void(0)"> more </a></div>
                </div>
            </div>
            <div class="g-contact">
                <div class="g-box-tt">
                    <h2>联系我们</h2>
                </div>
                <ul class="g-ct-ul">
                    <li class="g-ct-li">地址：上海市闵行区罗锦路55号E座2楼</li>
                    <li class="g-ct-li">邮编：200237</li>
                    <li class="g-ct-li">服务热线：4008-769-518</li>
                    <li class="g-ct-li">邮件：service@gclasscn.com</li>
                    <li class="g-ct-li">传真(F)021-54286820</li>
                </ul>
            </div>
        </div>
        <div class="g-box">
            <div class="g-box-tt">
                <div class="g-box-tt-h2"><h2>校园动态</h2></div>
                <div class="more">
                    <div class="g-btn-d"> > </div>
                    <div><a href="javascript:void(0)"> more </a></div>
                </div>
            </div>
            <ul class="g-news">
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="校园动态"/></a>
                    <h3><a href="javascript:void(0)">校园动态</a></h3>
                    <p>
                        <a href="javascript:void(0);">
                            校园动态校园动态校园动态校园动态校园动态校园动态校园
                            动态校园动态校园动态校园动态校园动态校园动态校园动态……
                            </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="校园动态"/></a>
                    <h3><a href="javascript:void(0)">校园动态</a></h3>
                    <p>
                        <a href="javascript:void(0);">
                            校园动态校园动态校园动态校园动态校园动态校园动态校园
                            动态校园动态校园动态校园动态校园动态校园动态校园动态……
                        </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="校园动态"/></a>
                    <h3><a href="javascript:void(0)">校园动态</a></h3>
                    <p>
                        <a href="javascript:void(0);">
                            校园动态校园动态校园动态校园动态校园动态校园动态校园
                            动态校园动态校园动态校园动态校园动态校园动态校园动态……
                        </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="校园动态"/></a>
                    <h3><a href="javascript:void(0)">校园动态</a></h3>
                    <p>
                        <a href="javascript:void(0);">
                            校园动态校园动态校园动态校园动态校园动态校园动态校园
                            动态校园动态校园动态校园动态校园动态校园动态校园动态……
                        </a>
                    </p>
                </li>
            </ul>

        </div>
        <div class="g-box">
            <div class="g-box-tt">
                <div class="g-box-tt-h2"><h2>师生动态</h2></div>
                <div class="more">
                    <div class="g-btn-d"> > </div>
                    <div><a href="javascript:void(0)"> more </a></div>
                </div>
            </div>
            <ul class="g-news">
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="师生动态"/></a>
                    <h3><a href="javascript:void(0)">师生动态</a></h3>
                    <p>
                        <a href="javascript:void(0)">
                        师生动态师生动态师生动态师生动态师生动态师生动态师生动态
                        师生动态师生动态师生动态师生动态师生动态师生动态……
                        </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="师生动态"/></a>
                    <h3><a href="javascript:void(0)">师生动态</a></h3>
                    <p>
                        <a href="javascript:void(0)">
                            师生动态师生动态师生动态师生动态师生动态师生动态师生动态
                            师生动态师生动态师生动态师生动态师生动态师生动态……
                        </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="师生动态"/></a>
                    <h3><a href="javascript:void(0)">师生动态</a></h3>
                    <p>
                        <a href="javascript:void(0)">
                            师生动态师生动态师生动态师生动态师生动态师生动态师生动态
                            师生动态师生动态师生动态师生动态师生动态师生动态……
                        </a>
                    </p>
                </li>
                <li class="g-lt">
                    <a href="javascript:void(0);"><img src="/images/ls.jpg" alt="师生动态"/></a>
                    <h3><a href="javascript:void(0)">师生动态</a></h3>
                    <p>
                        <a href="javascript:void(0)">
                            师生动态师生动态师生动态师生动态师生动态师生动态师生动态
                            师生动态师生动态师生动态师生动态师生动态师生动态……
                        </a>
                    </p>
                </li>
            </ul>

        </div>


    </div>

</div>
<script src="js/plug-in/jquery/jquery-2.2.3.min.js"></script>
<script src="js/public/public.js"></script>
<script src="js/index/index.js"></script>
<%- include('footer') %>