<nav>
    <ul class="m-nav-1">
        <li class="active"><a href="/index">首页</a></li>
        <li><a href="/school-introduction">学校介绍</a></li>
        <li><a href="/teacher-development">教师发展</a></li>
        <li><a href="/live-independently">雏鹰展翅</a></li>
    </ul>
</nav>