<%- include('../head') %>
<link rel="stylesheet" href="/css/school-introduction/school-introduction.css"/>
<div class="g-bd">
    <div class="g-mn">
        <div class="mn-l">
            <div class="mn-l-top">
                <h1><a href="javascript:void(0);">教师发展</a></h1>
                <p><a href="javascript:void(0);">教师发展教师发展教师发展教师发展教师发展教师发展教师发展教师发展</a></p>
            </div>
            <ul class="ct-ul">
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">课堂教学</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    展示课堂教学活动及成果展示课堂教学活动及成果
                                    展示课堂教学活动及成果展示课堂教学活动及成果</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示课堂教学活动及成果展示课堂教学活动及成果</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示课堂教学活动及成果展示课堂教学活动及成果展示课堂教学活动及成果</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">教育科研</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    展示教育方面活动、专题介绍、发展方向
                                    展示教育方面活动、专题介绍、发展方向
                                </a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示教育方面活动、专题介绍、发展方向展示
                                    展示教育方面活动、专题介绍、发展方向</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">教师培训</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    展示教师培训活动展示教师培训活动展示教师培训活动展示教师培训活动
                                </a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示教师培训活动
                                    展示教师培训活动展示教师培训活动展示教师培训活动展示教师培训活动展示教师培训活动展示教师培训活动</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">团队建设</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    教师团队建设情况教师团队建设情况教师团队建设情况教师团队建设情况教师团队建设情况
                                </a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">教师团队建设情况教师团队建设情况教师团队建设情况
                                    教师团队建设情况教师团队建设情况教师团队建设情况</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">校本课程</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息
                                </a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息
                                    展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息展示本校课程大纲、教材等信息</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mn-r">
            <div class="img">
                <a href="javascript:void(0);"><img src="/images/intro_about.jpg"/></a>
            </div>
            <div class="contact">
                <h2><a href="javascript:void(0);">名师风采</a></h2>
                <p><a href="javascript:void(0);">展示教师优秀成果、事迹、简介展示教师优秀成果、事迹、简介</a></p>
                <p><a href="javascript:void(0);">展示教师优秀成果、事迹、简介展示教师优秀成果、事迹、简介</a></p>
                <div class="more">
                    <div class="g-more-aw"> > </div>
                    <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="js/plug-in/jquery/jquery-2.2.3.min.js"></script>
<script src="js/public/public.js"></script>
<%- include('../footer') %>