<%- include('../head') %>
<link rel="stylesheet" href="/css/sub-pages/school-profile.css"/>
<div class="g-bd">
    <div class="g-mn">
        <div class="g-lst">
            <h2>学校介绍</h2>
            <ul class="g-ul">
                <li>
                    <a href="/detail">&curren; 学校状况</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 办学特色</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 成果展示</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 机构设置</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 教师风采</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 少先队员风采</a>
                    <span>2017-05-11</span>
                </li>
                <li>
                    <a href="javascript:void(0)">&curren; 学校大事记</a>
                    <span>2017-05-11</span>
                </li>
            </ul>
        </div>
        <div class="g-pn">
             <div class="g-pn-lt">
                 <a>第一页</a>
                 <a>上一页</a>
                 <a class="active">1</a>
                 <a>2</a>
                 <a>3</a>
                 <a>4</a>
                 <a>5</a>
                 <a>6</a>
                 <a>…</a>
                 <a>下一页</a>
                 <a>最后一页</a>
             </div>
        </div>
    </div>

</div>
<script src="js/plug-in/jquery/jquery-2.2.3.min.js"></script>
<script src="js/public/public.js"></script>
<%- include('../footer') %>