<%- include('../head') %>
<link rel="stylesheet" href="/css/sub-pages/school-profile.css"/>
<div class="g-bd">
    <div class="g-mn">
        <div class="g-dl">
            <div class="g-dl-ct">
                <h1>学校介绍</h1>
                <h5>
                    <span>发表时间：2015-05-08</span>
                    <span>发表人：糖糖</span>
                </h5>
                <div class="g-dl-ct-ct">
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。                在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                    在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。在上个星期五，是一个令人开心的日子。
                    因为“心舞飞扬”班级日记系列作品之四、之五、之六正式发行。这三本书分别是女生第四小组班级日记《边走边唱》，
                    小说类作品《童年有风吹过》，以及纪实类作品《头顶的天空瓦蓝瓦蓝》。本次发行的三本书有一个共同的亮点，
                    就是标题“心舞飞扬”是分别由杨红樱和曹文轩题字的，而且，陈校长为三本书写了序。
                    此外，我也是纪实类作品的作者之一。作品正式发行后，赞声一片，引来了全校的关注。最后，还要感谢彭老师。
                    我们创造了这样一个机会，让大家留下成长的足迹。
                </div>
            </div>
            <div class="g-dl-btn">
                <div class="btn-up"><a href="javascript:void(0)" title="上一篇">上一篇</a></div>
                <div class="btn-down"><a href="javascript:void(0)" title="上一篇">下一篇</a></div>
            </div>
        </div>
    </div>

</div>
<script src="js/plug-in/jquery/jquery-2.2.3.min.js"></script>
<script src="js/public/public.js"></script>
<%- include('../footer') %>