<%- include('../head') %>
<link rel="stylesheet" href="/css/school-introduction/school-introduction.css"/>
<div class="g-bd">
    <div class="g-mn">
        <div class="mn-l">
            <div class="mn-l-top">
                <h1><a href="javascript:void(0);">雏鹰展翅</a></h1>
                <p><a href="javascript:void(0);">雏鹰展翅雏鹰展翅雏鹰展翅雏鹰展翅</a></p>
            </div>
            <ul class="ct-ul">
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">学生作品</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    学生的留言学生的留言学生的留言学生的留言学生的留言
                                    学生的留言学生的留言学生的留言学生的留言学生的留言</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示学生作品展示学生作品展示学生作品展示学生作品</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">展示学生作品展示学生作品展示学生作品展示学生作品</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">学生留言</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    学生的留言学生的留言学生的留言学生的留言学生的留言
                                    学生的留言学生的留言学生的留言学生的留言学生的留言</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">学生的留言学生的留言学生的留言学生的留言学生的留言</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">学生的留言学生的留言学生的留言学生的留言学生的留言</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">网站推荐</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    展示办学成果、荣誉获取展示办学成果、荣誉获取展示办学成果、
                                    展示办学成果、荣誉获取展示办学成果、荣誉获取展示办学成果、</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">成果展示</a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">成果展示成果展示成果展示</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
                <li class="ct-li">
                    <div class="li-img"><a href="javascript:void(0);"><img src="/images/facts.jpg"/></a></div>
                    <div class="li-ct">
                        <h2><a href="javascript:void(0);">学生成长记录</a></h2>
                        <ul class="li-ct-ul">
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">
                                    班级学生日志展示班级学生日志展示班级学生日志展示班级学生日志展示
                                    班级学生日志展示
                                </a>
                            </li>
                            <li class="li-ct-li">
                                <a href="javascript:void(0);">班级学生日志展示班级学生日志展示班级学生日志展示班级学生日志展示
                                    班级学生日志展示班级学生日志展示班级学生日志展示班级学生日志展示</a>
                            </li>
                        </ul>
                        <div class="more">
                            <div class="g-more-aw"> > </div>
                            <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mn-r">
            <div class="img">
                <a href="javascript:void(0);"><img src="/images/intro_about.jpg"/></a>
            </div>
            <div class="contact">
                <h2><a href="javascript:void(0);">活动天地</a></h2>
                <p><a href="javascript:void(0);">展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动</a></p>
                <p><a href="javascript:void(0);">展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动展示学生活动</a></p>
                <div class="more">
                    <div class="g-more-aw"> > </div>
                    <div class="g-more-text"><a href="javascript:void(0)"> more </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/plug-in/jquery/jquery-2.2.3.min.js"></script>
<script src="js/public/public.js"></script>
<%- include('../footer') %>